name: Build
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:     
  build-x86_64:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
        - compcert
        - clad
        - heaptrack
        - hylo
        - iwyu
        - lc3
        - misc
        - nasm
        - python
        - pythran
        - rocm
        - rust-cg-gcc
        - rust-linux
        - vast
        - mads
        - nix
        - bloaty
        - lfortran
        - c2rust
        - miri
    steps:
    - name: Docker Setup Buildx
      uses: docker/setup-buildx-action@v2
    - name: Docker Login
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Build and push to Docker Hub
      id: hub_build
      uses: docker/build-push-action@v5
      with:
        push: ${{ github.ref == 'refs/heads/main' && 'true' || 'false' }}
        tags: compilerexplorer/${{ matrix.image }}-builder:latest
        cache-from: type=registry,ref=compilerexplorer/${{ matrix.image }}-builder:latest
        cache-to: type=inline,mode=max
        file: Dockerfile.${{ matrix.image }}
    - name: Docker Hub Image Digest
      run: echo ${{ steps.hub_build.outputs.digest }}
  build-arm64:
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        image:
        - heaptrack
    steps:
      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v2
      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build and push to Docker Hub
        id: hub_build
        uses: docker/build-push-action@v5
        with:
          push: ${{ github.ref == 'refs/heads/main' && 'true' || 'false' }}
          tags: compilerexplorer/${{ matrix.image }}-builder:latest-arm64
          cache-from: type=registry,ref=compilerexplorer/${{ matrix.image }}-builder:latest-arm64
          cache-to: type=inline,mode=max
          file: Dockerfile.${{ matrix.image }}
      - name: Docker Hub Image Digest
        run: echo ${{ steps.hub_build.outputs.digest }}
